#heading-sort {
    width: 100%;
    height: auto;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-top: 3.5rem;
}

#heading-sort div {
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heading-sort select {
    position: absolute;
    right: 35px;

    padding: 10px;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
}

#heading-sort label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;

    position: absolute;
    right: 170px;
    z-index: 1;
}

#movies-container {
    height: auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    background-color: black;
}

.movie-card {
    width: 185px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: 0.2s all ease;
}

.movie-card .movie-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.movie-card:hover {
    scale: 1.05;
}

#btn-holder-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.fvt-btn {
    color: white;
    border: 1px solid white;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s all ease;
    width: 100%;
    text-align: center;
}

.fvt-btn:hover {
    scale: 1.01;
    background-color: rgb(205, 59, 59);
    cursor: pointer;
}

#more-btn {
    align-self: center;
    padding: 12px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 8px;
    transition: 0.2s all ease;
}

#more-btn:hover {
    scale: 1.05;

}